# =========================
# Node / Playwright
# =========================

node_modules/
playwright/node_modules/

test-results/
playwright-report/
blob-report/
allure-results/
allure-report/

playwright/.cache/
playwright/.auth/

# =========================
# Environment / Secrets
# =========================

.env
playwright/url.txt

# =========================
# Logs
# =========================

*.log
playwright/hs_err_pid*.log
playwright/test_output.log

# =========================
# Java / Maven
# =========================

target/
*.jar
*.war
*.class

# =========================
# OS / IDE
# =========================

.DS_Store
Thumbs.db
.vscode/
.idea/